# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---

- name: Set OS distribution dependent variables
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}.yml"

- name: Check whether gitlab-ctl binary is installed
  stat:
    path: "/usr/bin/gitlab-ctl"
  register: gitlab_ctl

- name: Determine if this is an initial dry-run
  ansible.builtin.set_fact:
    is_initial_dryrun: "{{ ansible_check_mode and not gitlab_ctl.stat.exists }}"

- name: Check if a previous reconfigure had failed
  ansible.builtin.stat:
    path: /etc/gitlab/reconfigure_failed
  register: reconfigure_failed

- name: Reconfigure GitLab
  ansible.builtin.import_tasks: reconfigure.yml
  become: yes
  when: reconfigure_failed.stat.exists

- name: Install GitLab
  ansible.builtin.import_tasks: install.yml
  become: yes

- name: Configure GitLab
  ansible.builtin.import_tasks: configure.yml
  become: yes

...
