# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

external_url "{{ gitlab_external_url }}"

gitlab_rails['gitlab_default_theme'] = "{{ gitlab_default_theme }}"
gitlab_rails['time_zone'] = "{{ gitlab_time_zone }}"
gitlab_rails['backup_keep_time'] = "{{ gitlab_backup_keep_time }}"
gitlab_rails['backup_path'] = "{{ gitlab_backup_path }}"

nginx['listen_port'] = "{{ nginx_listen_port }}"
nginx['listen_https'] = "{{ nginx_listen_https }}"
nginx['redirect_http_to_https'] = "{{ nginx_redirect_http_to_https }}"

{% if not use_internal_redis %}
redis['enable'] = "false"
gitlab_rails['redis_password'] = "{{ redis_password }}"
redis['master_name'] = "{{ redis_cluster_name }}"
redis['master_password'] = "{{ redis_password }}"
gitlab_rails['redis_sentinels'] = [
{% for redis_ip in redis_ips %}
    { "host" => "{{ redis_ip }}", "port" => 26379 },
{% endfor %}
]
gitlab_rails['monitoring_whitelist'] = ["{{ gitlab_ip_range }}"]
{% endif %}

{% if use_internal_gitaly %}
git_data_dirs({"default" => {"path" => "{{ gitlab_git_data_dir }}"} })
{% else %}
gitaly['enable'] = "false"
gitlab_rails['gitaly_token'] = "{{ gitlab_gitaly_token }}"
gitlab_shell['secret_token'] = "{{ gitlab_secret_token }}"
git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ gitaly_instance_ip }}:{{ gitaly_instance_port }}' },
})
{% endif %}

gitlab_rails['gitlab_email_enabled'] = "{{ gitlab_email_enabled }}"
gitlab_rails['ldap_enabled'] = "{{ gitlab_ldap_enabled }}"
gitlab_rails['smtp_enable'] = "{{ gitlab_smtp_enable }}"
registry['enable'] = "{{ gitlab_registry_enable }}"
